@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Cormorant Garamond", serif;
}
body {
  height: 100% !important;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav part */
.video-section {
  height: 20vh;
}
.logo {
  position: absolute;
  top: 20%;
}
.logo img {
  width: 50%;
}
.nav {
  position: absolute;
  width: 80%;
  height: 100px;
  display: block;
  top: 0;
  z-index: 2000;
  margin-top: 5%;
}

.right-nav {
  position: absolute;
  margin-top: 5%;
  font-size: 32px;
  right: 0;
}
.right-nav .ul {
  float: right;
}
.nav li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  display: inline;
  list-style: none;
}
a {
  text-decoration: none;
}
/* contents section */
.contents-section {
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%;
}
.contents-section h1 {
  text-align: center;
  padding: 6% 5%;
  font-size: 4rem;
}
.contents-section h4 {
  padding: 20px;
  font-size: 2rem;
  text-align: center;
}
.contents-section h5 {
  font-size: 1.7rem;
  padding: 10px;
  text-align: center;
}
.contents-section h6 {
  padding: 20px 0;
  font-size: 1.5rem;
  color: #114142;
}
.contents-section img {
  float: left;
  width: 50%;
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
}
.contents-section p {
  margin-top: 40px;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 40px;
}
.contents-section p span {
  font-size: 50px;
}

/* container section */

.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  height: 50%;
  margin-top: 7%;
  align-content: center;
}
.container img {
  width: 350px;
  height: 350px;
}

.container .image {
  transition: 0.5s ease;
  backface-visibility: hidden;
  border-radius: 15%;
}
.container .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* blog section */

.blogs-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.blogs-pic {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  align-content: center;
}

.blogs-pic img {
  width: 360px;
  height: 500px;
}

.blogs-pic .image {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  filter: brightness(60%);
}

.blog-header {
  width: 100%;
  top: 10%;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  margin: 0 auto;
  z-index: 0;
  text-align: center;
  color: #2b2b2b;
}
.blog-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
}

.container .hidden-title {
  color: white;
  font-size: 30px;
  top: 30%;
  position: absolute;
  text-align: center;
}
.blogs:hover .hidden-title {
  opacity: 0;
}

.container .blog-middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
}
.blogs:hover .image {
  opacity: 0.1;
  transform: scale(1.02);
  filter: brightness(100%);
}
.blogs:hover .blog-middle {
  opacity: 1;
}
.blog-inside {
  margin-top: 10%;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10%;
}
.blog-inside-button {
  font-family: "Montserrat", sans-serif;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10%;
  background-color: #114142;
  color: white;
  cursor: pointer;
}
.blog-inside-button:hover {
  transform: scale(1.05);
}
.blog-inside-text {
  font-size: 20px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
}

.blog-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10%;
  text-align: center;
}
.blog-des {
  font-size: 20px;
  text-align: center;
}

/* footer section */
.footer-section {
  height: 60vh;
  padding: 5%;
  background-color: #114142;
  position: relative;
  justify-content: space-around;
}
.footer-contents {
  color: white;
  font-weight: 300;
  margin: 2%;
  vertical-align: baseline;
}
.footer-contents h5 {
  top: 0;
  font-size: 33px;
  margin-bottom: 20px;
}
.footer-contents ul {
  justify-content: flex-start;
}
.footer-contents li {
  list-style: none;
  font-size: 23px;
  line-height: 50px;
}
.footer-contents input {
  background-color: #114142;
  color: #e6db85;
  font-size: 27px;
  border-bottom: 2px solid white;
  width: 300px;
  height: 50px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
::placeholder {
  color: #85b5b6;
  font-size: 20px;
}
.footer-contents button {
  font-family: "Montserrat", sans-serif;
  position: relative;
  margin-top: 20px;
  border: solid 6px #e6db85;
  font-size: 20px;
  z-index: 1000;
  width: 150px;
  height: 50px;
  color: #e6db85;
  border-radius: 30px;
  background-color: transparent;
  cursor: pointer;
  top: 70%;
}
.footer-contents button:hover {
  background-color: #e6db85;
  color: black;
}

#bottom-name {
  position: absolute;
  font-size: 20px;
  color: rgb(172, 196, 192);
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .logo img {
    width: 40%;
  }

  .right-nav {
    position: absolute;
    margin-top: 0%;
    font-size: 28px;
    top: 50%;
    right: 0;
  }

  /* contents */

  .contents-section img {
    text-align: center;
    width: 100%;
    margin: 0;
  }

  .contents-section {
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10%;
  }
  .contents-section h1 {
    font-size: 2rem;
  }

  .container img {
    width: 250px;
    height: 250px;
  }
  .container .hidden-title {
    font-size: 25px;
  }

  .inside {
    font-size: 25px;
  }
  .inside-button {
    width: 100px;
    height: 35px;
  }
  .blogs-section {
    height: 70vh;
  }

  .blog-header {
    top: 10%;
    font-size: 20px;
  }

  .blog-inside-button {
    border: none;
    width: 130px;
    height: 30px;
    font-size: 15px;
  }

  .blog-inside-text {
    font-size: 20px;
  }

  .blog-text-box {
    margin-left: 15px;
    width: 200px;
    word-wrap: break-word;
  }

  .blog-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5%;
  }
  .blog-des {
    font-size: 0;
  }

  .footer-section {
    width: 100%;
    padding: 5%;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .footer-contents h5 {
    margin-top: 10%;
    font-size: 30px;
  }
  .footer-contents li {
    font-size: 23px;
    line-height: 35px;
  }
  .footer-contents button {
    margin-top: 15px;
    border: solid 3px #e6db85;
  }

  #bottom-name {
    position: absolute;
    font-size: 18px;
    bottom: 0;
    width: 90%;
    text-align: right;
    margin: 20px 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .logo img {
    width: 30%;
  }
  .nav li {
    padding-left: 10px;
  }

  .right-nav {
    position: absolute;
    margin-top: 5%;
    font-size: 15px;
    top: 50%;
    right: 0;
  }

  h1 {
    font-size: 30px;
  }

  /* contents */

  .contents-section {
    justify-content: center !important;
    align-items: center;
    flex-direction: column;
  }
  .contents-section h1 {
    padding: 0;
    margin-bottom: 20px;
  }
  .contents-section h4 {
    font-size: 1.1rem;
    padding: 10px;
  }
  .contents-section h5 {
    font-size: 1rem;
  }
  .contents-section h6 {
    font-size: 1rem;
    padding: 10px 0;
  }
  .contents-section img {
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .contents-section p {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 30px;
  }

  .container img {
    width: 220px;
    height: 220px;
  }

  .blogs-section {
    height: 70vh;
  }
  .blog-header {
    position: relative;
    top: 5%;
    margin-bottom: 10%;
  }

  .blog-inside-button {
    border: none;
    width: 130px;
    height: 30px;
  }
  .blog-inside {
    font-size: 15px;
  }
  .blog-inside-text {
    font-size: 15px;
  }

  .blog-text-box {
    margin-left: 15px;
    width: 200px;
    word-wrap: break-word;
  }

  .blog-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10%;
  }
  .blog-des {
    font-size: 0;
  }

  .footer-section {
    width: 100%;
    padding: 5%;
    height: auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .footer-contents h5 {
    margin-top: 15%;
    font-size: 23px;
    margin-bottom: 3%;
  }
  .footer-contents li {
    font-size: 15px;
    line-height: 25px;
  }
  .footer-contents button {
    margin-top: 20px;
    width: 100px;
    height: 30px;
    font-size: 15px;
  }
  .footer-contents input {
    width: 250px;
  }
}
@media screen and (max-height: 1000px) {
}

@media screen and (max-height: 800px) {
  .logo img {
    width: 30%;
  }

  .blogs-section {
    width: 100%;
    height: auto;
    padding: 5%;
    padding-top: 10%;
  }

  .footer-section {
    width: 100%;
    height: auto;
    position: relative;
  }
}
